<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wn.demo.mapper.RestaurantOrderMapper">

    <select id="selectAll" resultType="com.wn.demo.pojo.RestaurantOrder" parameterType="com.wn.demo.pojo.RestaurantOrder">
        select
        *
        from restaurant_order
        <where>
            <if test="userId!=null and userId!=''">
                userId=#{userId}
            </if>
        </where>
        order by createTime desc
    </select>

    <select id="selectAll2" resultType="com.wn.demo.pojo.RestaurantOrder" parameterType="com.wn.demo.pojo.RestaurantOrder">
        select
        *
        from restaurant_order where userId=#{userId}
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from restaurant_order where id=#{id}
    </delete>

    <insert id="add" parameterType="com.wn.demo.pojo.RestaurantOrder">
        insert into restaurant_order(
            orderNo,
            restNo,
            userId,
            startTime,
            customerName,
            customerPhone,
            price,
            status,
            createTime
            )
        values(#{orderNo},#{restNo},#{userId},#{startTime},#{customerName},#{customerPhone},#{price},'已预约',NOW())
    </insert>

    <update id="update" parameterType="com.wn.demo.pojo.RestaurantOrder">
        update restaurant_order set status=#{status}
        where id = #{id}
    </update>

    <select id="selectOne" resultType="com.wn.demo.pojo.RestaurantOrder" parameterType="java.lang.Integer">
        select
        *
        from restaurant_order where id=#{id}
    </select>

</mapper>